.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 30%;
    
    

}
.register-form{
    align-items: center;
    justify-content: center;
    height: 95vh;
    
}
.inputfield{
    padding: 10px 50px;
}
.btn{
    padding: 10px;
}
p{
    color: red;
}